/*FONTS*/
@font-face{
  src:url("../font/WalkwayBlack.ttf");
  font-family:WalkwayBlack;
}
@font-face{
  src:url("../font/WalkwaySemiBold.ttf");
  font-family:mainfont;
}


html{
  /* background-color:#99ccff; */

  width:100%;
  color:black;
}
p{
  padding:0;
  margin:0;
}
body{
  padding: 0;
  margin:0;
}
a{
  color:black;
  padding: 0;
  margin:0;
  text-decoration: none;
}
/*NAV BAR STYLING*/
#Nav_Bar{
  margin-top: 1%;
  width:100%;
  font-size:2em;
  position:fixed;
  z-index: 5;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
#Nav_bar_left{
  padding-left:1%;
}
#Nav_bar_right{
  margin-left: auto;
  padding-right:1%;

}
.Nav_Bar_Link{
  display:inline-block;
  border:solid black;
  padding:5px;
  transition:all 0.5s;
  cursor:pointer;
  border-radius:0.1em;
}
.Nav_Bar_Link:hover{
  color:white;
  border:solid white;
}
/*CARD STUFF*/
.card{
  background-color:#ffffcc;
  position:relative;
  border:solid #999900;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  cursor:pointer;
  border-width:3px;
}
.card:hover{
  border-color:black;
}
.card_overflow_month{
  background-color: #ffffe5;
}
.conflicts{
  font-size:1em;
}
.events{
  position:absolute;
  bottom:0px;
  right:0px;
  font-size:1em;
    display:flex;
    flex-direction:column-reverse;
    align-items: flex-end;

}
.day{
  font-size:1.5em;
  position:absolute;
  bottom:0px;
  left:0px;
}
.day_abrev{
  font-size:0.6em;
}
.events_number{
  font-size:2em;
}
.date_number{
  position:absolute;
  top:0px;
  left:0px;
  font-size:1.5em;
}
.notice{
  font-size:2em;

}
.red{
  color:red;
  border-color:red
}
.green{
  color:green;
}
.Conflict{
  border-color:red
}
.NoConflict{
  border-color:green;
}
