<html ng-app="myApp" ng-controller="namesCtrl">
  <head>
    <title>Linkus</title>
    <script src="../scripts/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/standard.css"/>
    <link rel="stylesheet" type="text/css" href="../css/fontello.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
    <meta name=viewport content="width=device-width, initial-scale=1">

    <script src="../scripts/angular.min.js"></script>
    <script src="scripts/schoolsync.calender.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style id="card_style">
      .card_style{

      }
    </style>
  </head>
  <body>
    <div id="Nav_Bar" class="navbar navbar-default navbar-static-top">
      <div id="Nav_bar_left">
        <a href="/" class="navbar-brand" style="font-size:1.3em;">
          <p>Linkus</p>
        </a>
      </div>
      <div id="Nav_bar_right" >
        <button type="button" class="btn btn-default btn-lg">Login</button>
      </div>
    </div>

    <div id="main_page" >
        <div id="cards_holder"ng-init="" class="panel panel-default">
          <div id="month_container" class="panel-heading">
            <p id="month_container_text">{{month_text}} {{date.getFullYear()}}</p>
            <button type="button" ng-click="NewCalendar(date,0)" class="btn btn-default btn-lg month_navi"><i class="icon-left-open left-direction calendar_nav" ></i></button>
            <button type="button" ng-click="NewCalendar(date,1)" class="btn btn-default btn-lg month_navi"><i class="icon-right-open calendar_nav" ></i></button>
          </div>
          <div ng-show="NoEvents && mobile" id="NoCards">
            <p >No Events</p>
          </div>
          <div ng-hide="NoEvents && mobile" ng-repeat="x in NumberRepeater|limitTo:6 track by $index" class="calender_row" >
            <div ng-click="ShowDayData(day_data_array[day_number].events_info)" ng-hide="mobile && !day_data_array[day_number].events_bool" ng-repeat="x in NumberRepeater|limitTo:7 track by $index" ng-init="day_number = AddDay()" id="card_number_{{day_number}}" class="card card_style" ng-class="{'card_overflow_month' : day_data_array[day_number].overflow, 'Conflict' : day_data_array[day_number].conflicts_bool, 'NoConflict' : (!day_data_array[day_number].conflicts_bool && day_data_array[day_number].events_bool)}" >
              <p class="date_number">{{day_data_array[day_number].num}}</p>
              <p class="day">{{day_data_array[day_number].letter}}<span class="day_abrev">{{day_data_array[day_number].abrv}}</span></p>
              <p ng-show="day_data_array[day_number].conflicts_bool" class="notice red">!</p>
              <p ng-show="day_data_array[day_number].events_bool && !day_data_array[day_number].conflicts_bool" class="notice green icon-ok"></p>
              <p ng-show="day_data_array[day_number].events_bool" class="events">events<span class="events_number">{{day_data_array[day_number].events_info.events.length}}</span></p>
              <div class="triangle" style="border-top: {{card_height}}px solid transparent;border-right:{{card_width}}px solid black;">
              </div>
            </div>
          </div>

        </div>
    </div>

  </body>
  </html>
